.App{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #262f34;
    width: 100%;
    min-height: 1000px;
    height: 100%;
}
.pulse{
    color: #f34a4a;
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-size: 80px;
    transform: scale(.85);
    animation: pulse 3s 1;
}
@keyframes pulse {
    from {
        transform: scale(.85);
    }
    50% {
        transform: scale(1);

    }
    to {
        transform: scale(.85);

    }
}
.up{
    color: #f34a4a;
    font-family: Brush Script MT, Brush Script Std, cursive ;
    margin-bottom: 15px;
    font-size: 80px;
    animation: up 2s 1;
}
@keyframes up {
    from {
        transform: translate(0 , -80%);
    }
    to{
        transform: translate(0 ,0);
    }
}
